* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Work Sans", Arial, sans-serif;
}
.container {
  padding: 0 5%;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.topBar {
  padding: 1%;
  background-color: #1eaaf1;
}
.info {
  display: flex;
  align-items: center;
}
.map {
  color: rgba(255, 255, 255, 0.7);
}
.mail {
  color: rgba(255, 255, 255, 0.7);
}
.phone {
  color: rgba(255, 255, 255, 0.7);
}
.mapIcon {
  padding: 8px;
  border-radius: 50%;
  background-color: #5d50c6;
  color: #fff;
  margin-right: 10px;
}
.mailIcon {
  padding: 8px;
  border-radius: 50%;
  background-color: #fda638;
  color: #fff;
  margin-right: 10px;
}
.phoneIcon {
  padding: 8px;
  border-radius: 50%;
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
  position: sticky;
  top: 0px;
}
.brend {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}
.navItem .link {
  padding: 20px;
  color: #1eaaf1;
}
.navItem a{
  padding: 20px;
  color: #000;
}

.link:hover {
  color: #000;
  text-decoration: none;
}
/* header end */

/* hero start */
.heroImg img {
  width: 100%;
  position: relative;
}

.heroInfo {
  position: absolute;
  bottom: 10%;
  left: 30%;
  text-align: center;
}
.heroTitle {
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800;
}
.btn {
  border-radius: 50px !important;
  background-color: #fda638;
  border: 1px solid #fda638;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px !important;
  margin-top: 30px;
}

.heroBottom {
  width: 100%;
  display: flex;
  margin-top: -10%;
  position: relative;
}
.heroIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 50px;
  color: #1eaaf1;
  background-color: #fff;
  line-height: 1.3;
  margin-top: -60px;
  margin-left: 50px;
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
.services {
  text-align: center;
  background-color: #1eaaf1;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 40px;
}
.heading {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.servicesSpecial {
  text-align: center;
  padding: 0 50px;
  background-color: #8cc152;
  color: rgba(255, 255, 255, 0.8);
}
.servicesLibrary {
  text-align: center;
  background-color: #5d50c6;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 50px;
}
.servicesCertification {
  text-align: center;
  background-color: #f1453d;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 50px;
}

/* hero end */

/* offer start */
.offer {
  margin-top: 40px;
  display: flex;
}
.rowLeft {
  margin-right: 1%;
}
.offerCards {
  display: flex;
}
.offerCard {
  display: flex;
  margin-top: 40px;
  margin-right: 10px;
}
.offerIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  background-color: #1eaaf1;
  line-height: 1;
  text-align: center;
  padding-top: 30px;
  margin-right: 20px;
}
.rowRight {
  width: 40%;
  padding: 40px;
  background-color: #fafafa !important;
}
.offerInfo h3 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}
.offerText {
  color: rgba(0, 0, 0, 0.5);
}
/* offer end */

/* teaching start */
.teaching {
  margin: 5% 0;
  position: relative;
}
.teachingImg img {
  width: 100%;
  height: 300px;
}
.teachingInfo {
  position: absolute;
  bottom: 40%;
  left: 10%;
  display: flex;
}
.teachingInfoRight {
  margin-right: 40px;
}
.teachingTitle {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.teachingText {
  color: rgba(255, 255, 255, 0.8);
}

/* teaching end */

/* certified start */
.certifiedTitle {
  text-align: center;
  margin-top: 50px;
}
.titleRight {
  font-size: 44px;
  font-weight: 600;
  color: #fda638;
}
.titleLeft {
  font-size: 44px;
  font-weight: 600;
  color: #5d50c6;
}
.certifiedtop {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.certifiedCards {
  position: relative;
  z-index: 4;
  display: flex;
}
.staff {
  margin: 20px;
}
.staffImg img {
  width: 250px;
  height: 280px;
}
.staffInfo {
  text-align: center;
}
.staffName {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}

.staffName:hover {
  color: #1eaaf1;
}
.position {
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0;
}
.faded {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.8;
}
/* .staffSocial {
  position: absolute;
  display: flex;
  opacity: 1;
  top: -40px;
} */
.icon i {
  margin-right: 10px;
  color: #fda638;
}
/* certified end */

/* courses start */
.coursesCards {
  display: flex;
  align-items: center;
}
.coursesCard {
  display: flex;
  align-items: center;
  background-color: #fafafa !important;
  margin: 10px;
}
.coursesImg img {
  width: 250px;
  height: 250px;
}
.coursesInfo {
  margin-left: 30px;
}
.coursesTitle {
  color: #1eaaf1;
  font-weight: 500;
  font-size: 24px;
}
.subheading span {
  color: #fda638;
}
.coursesText {
  color: rgba(0, 0, 0, 0.5);
}
/* courses end */

/* stellar start */

.stellar {
  width: 100%;
  position: relative;
}
.stellarImg img {
  width: 100%;
  height: 450px;
}
.stellarInfo {
  position: absolute;
  bottom: 20%;
  left: 10%;
  text-align: center;
  justify-content: space-evenly;
}
.right {
  color: #000;
  font-size: 44px;
  font-weight: 600;
  margin-left: 10px;
}
.stellarData {
  display: flex;
}
.stellarItem {
  padding: 0 80px;
}
.number {
  font-weight: 500;
  font-size: 50px;
  color: #1eaaf1;
}
/* stellar end */

/* testimony start */
.testimony {
  background-color: #fafafa !important;
}
.testimonyCard {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.testimonyCardInfo {
  padding-left: 30px;
}
.testimonyCardImg img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.testimonyCardInfo .position {
  font-size: 14px;
  color: #1eaaf1;
  text-transform: capitalize;
}
/* testimony end  */

/* consult start  */

.consult {
  margin: 50px 0;
  position: relative;
  display: flex;
}
.consultLeft img {
  width: 100%;
  height: 500px;
}
.consultRight {
  width: 50%;
  height: 500px;
  position: absolute;
  right: 0;
  bottom: 0px;
  background-color: #1eaaf1;
  padding: 50px;
  height: 500px;
}
.consultTitle {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}
.consultText {
  color: rgba(255, 255, 255, 0.9);
}
form .formGroup {
  width: 100%;
  display: flex;
}
.formControl {
  width: 80%;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 55px;
  background-color: transparent;
  color: #fff;
  margin: 10px 30px;
  text-align: left;
}
.formBtn {
  width: 100%;
  background-color: #fda638;
  border: 1px solid #fda638;
  color: #fff;
  border-radius: 40px;
  margin-top: 20px;
  padding: 10px;
}
/* consult end */

/* price start */
.pricingCards {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.pricingCard {
  width: 250px;
  background-color: #fafafa;
  padding: 30px 0;
}
.pricingCard h3 {
  font-size: 24px;
  font-weight: 500;
}
.price {
  font-weight: 900;
  font-size: 28px;
  color: #1eaaf1;
}
.per {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.entryImg img {
  width: 100%;
  height: 150px;
  margin: 20px 0;
}
.pricingBtn {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
  border-radius: 30px;
  padding: 20px;
}
.pricingBtn:hover {
  border: 1px solid #005cbf;
  color: #005cbf;
  background-color: #fff;
  text-decoration: none;
}
.pricingBtnOr {
  color: #fff;
  background-color: #fda638;
  border-color: #fda638;
  border-radius: 30px;
  padding: 20px;
}
.pricingBtnOr:hover {
  border: 1px solid #fda638;
  color: #fda638;
  background-color: #fff;
  text-decoration: none;
}
.pricingBtnGr {
  color: #fff;
  background-color: #8cc152;
  border-color: #8cc152;
  border-radius: 30px;
  padding: 20px;
}
.pricingBtnGr:hover {
  border: 1px solid #8cc152;
  color: #8cc152;
  background-color: #fff;
  text-decoration: none;
}
.pricingBtnRed {
  color: #fff;
  background-color: #f1453d;
  border-color: #f1453d;
  border-radius: 30px;
  padding: 20px;
}
.pricingBtnRed:hover {
  border: 1px solid #f1453d;
  color: #f1453d;
  background-color: #fff;
  text-decoration: none;
}
/* price end */

/* blog statr */
.blog {
  background-color: #fafafa !important;
}
.blogCard {
  background-color: #fff;
}
.cardtitle {
  font-size: 20px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.cardtitle:hover {
  color: #1eaaf1;
}

/* Blog start */
.blogCards {
  display: flex;
}
.blogCard {
  position: relative;
  margin: 0 15px;
}
.blogCard img {
  width: 100%;
}

.date {
  position: absolute;
  bottom: 50%;
  left: 0;
  background-color: #5d50c6;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.blogCardInfo {
  padding: 20px;
}
.blogCardInfo p {
  color: #b3b3b3;
}
.blogCardInfoBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogBtn {
  color: #fff;
  background-color: #fda638;
  border-color: #fda638;
  border-radius: 30px;
  padding: 10px;
}
.bottomRight {
  color: #b3b3b3;
}
.bottomRight a {
  color: #1eaaf1;
}
/* Blog end */

.gallery {
  background-color: #b3b3b3 !important;
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.gallery img {
  width: 100%;
  height: 200px;
}

/* footer start */

.footer {
  padding: 70px;
  background-color: #000;
}
.footerInfo {
  display: flex;
  justify-content: space-between;
}
.footerCol h4 {
  margin-bottom: 40px;
}
.footerTittle a {
  margin: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.footerTittle i {
  color: #fff;
  font-size: 18px;
}
.navInfo {
  display: flex;
  align-items: center;
}
.navInfo a {
  color: rgba(255, 255, 255, 0.9);
}
.footerImg img {
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.subscribeForm .formGroup {
  display: inline-block;
}
.subscribeForm .formControl {
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.7) !important;
}
.formControlBtn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 2px;
  background-color: #5d50c6 !important;
  color: #fff;
  text-align: center;
}
.footerSocials {
  display: flex;
  margin-top: 15px;
}
.footerSocials i {
  margin: 10px;
  padding-top: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.footer h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  font-family: "Work Sans", Arial, sans-serif;
}
.footer p {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin: 40px 0;
}
